html, body {
    margin: 0;
    padding: 0;
}

.navBar {
    background-color: #a2cbe7;
    overflow: hidden;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    z-index: 1000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Tenor Sans', sans-serif;
    padding: 2vh 4vw;
}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right; 
}

.navBar li {
    display: inline; 
}

.navBar li a {
    display: inline-block; 
    color: black;
    text-align: center;
    padding: 3.5vh 1.6vw; 
    text-decoration: none;
    margin-right: 1vw;
}

.navBar li a:hover {
    color: blue;
}

.logo {
    padding-top: 1vh;
    padding-bottom: 0.5vh;
    height: 6vh; 
    width: auto;
    margin-left: 1vw; 
}

.right-nav {
    display: flex;
}

.navBar a {
    font-size: calc(0.8rem + 0.5vw);

}

.navBar span {
    font-size: calc(0.8rem + 0.5vw); 

}



/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .navBar {
        flex-direction: column;
        align-items: flex-start;
        padding: 2vh 4vw; 
    }

    .navBar ul {
        width: 100%;
        text-align: center;
    }

    .right-nav {
        justify-content: center;
        width: 100%;
    }

    .logo {
        margin: 0 auto; /* Center the logo */
        height: 7vh; 
    }
}
