body {
    margin: 0; 
    padding: 0; 
}

/* .navBar {
    background-color: #a2cbe7;
    
    overflow: hidden;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    z-index: 1000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Tenor Sans', sans-serif;
    
} */


.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right; 
}

.navBar li {
    display: inline; 
}

.navBar li a {
    display: inline-block; 
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right:10px;

}


.navBar li a:hover {
    color:  blue;
}
/* 
.logo {
    padding-top:10px;
    padding-bottom:5px;
    height: 50px; 
    width: 100px;
    margin-left: 10px; 
} */

.right-nav {
    float: right;
  }
  
  
.right-nav {
  display: flex;
}
